<div class="container">



      <mat-card class="card-css">
        <mat-card-header>
          <mat-card-title><h1>Blood donation report</h1></mat-card-title>
        </mat-card-header>
        <p></p>
        <p></p>
        <p><mat-checkbox (click)="onChecked($event)">Client didn't show up</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="checked">Client cant donate blood</mat-checkbox></p>

      <button mat-stroked-button (click)="goToReportPage()">Start examination</button>
        <button mat-stroked-button (click)="goToList()"> Finish</button> <br>
      </mat-card>


</div>
