<div class="container">
  <h1 class="cardTitle"> Transfusion center   </h1>
  <div>
    <button mat-stroked-button>Center admins </button>
    <button mat-stroked-button>Free appointments</button>
  </div>
  <div>
  <table class="tablecenter" >
    <mat-form-field appearance="outline">
      <mat-label> Name</mat-label>
      <input matInput [(ngModel)]="selectedCenter.name">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput [(ngModel)] = "selectedCenter.name">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)] = "selectedCenter.address.street">
    </mat-form-field>
    <mat-form-field appearance="outline">
    <mat-label>Street number</mat-label>
    <input matInput [(ngModel)] = "selectedCenter.address.streetNumber">
    </mat-form-field>

    <br>
    <mat-card-content>City</mat-card-content>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)] = "selectedCenter.address.city">
    </mat-form-field>
    <mat-card-content>Country</mat-card-content>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)] = "selectedCenter.address.country">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)] = "selectedCenter.description">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Rating</mat-label>
      <input matInput [(ngModel)] = "selectedCenter.rating">
    </mat-form-field ><br>
  </table>
    <button mat-stroked-button (click)="updateTransfusionCenter()"> Save changes</button>
  </div>


</div>
