<div class="container">
  <h1 class="cardTitle"> Transfusion center   </h1>
  <div>
    <button mat-stroked-button>Center admins </button>
    <button mat-stroked-button>Free appointments</button>
  </div>
  <div class="card">
  <table class="tablecenter" >
    <mat-form-field appearance="outline">
      <mat-label> Name</mat-label>
      <input matInput [value]="selectedCenter.name">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput [value] = "selectedCenter.name">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput [value] = "selectedCenter.address">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput [value] = "selectedCenter.description">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Rating</mat-label>
      <input matInput>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <input matInput>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field><br>





  </table>
  </div>
  <div><button mat-stroked-button></button></div>

</div>
