<div>
  <table >
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <input matInput>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field><br>

  </table>
  <div> <button mat-stroked-button> Save changes </button> </div>


</div>
