<div>
  <table >
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput [(ngModel)]="selectedAdmin.firstName">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput [(ngModel)]="selectedAdmin.lastName">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)] = "selectedAdmin.address.street">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Street number</mat-label>
      <input matInput [(ngModel)] = "selectedAdmin.address.streetNumber">
    </mat-form-field>

    <br>
    <mat-card-content>City</mat-card-content>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)] = "selectedAdmin.address.city">
    </mat-form-field>
    <mat-card-content>Country</mat-card-content>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)] = "selectedAdmin.address.country">
    </mat-form-field><br>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="selectedAdmin.email">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput [(ngModel)]="selectedAdmin.phoneNumber">
    </mat-form-field><br>


  </table>
  <div> <button mat-stroked-button (click)="updateAdminProfile()"> Save changes </button> </div>


</div>
