<div class="header">
    <nav>
        <div class="nav-links">
              <ul>
                  <li><a routerLink="home">Home</a></li>
                  <li><a routerLink="future-appointments">Future appointments</a></li>
                  <li><a routerLink="client-histories">Appointment histories</a></li>
                  <li><a routerLink="survey">Survey</a></li>
                  <li><a routerLink="edit">My profile</a></li>
                  <li><a routerLink="occuping-appointment">Ocupy</a></li>
                  <li><a (click)="LogOut()">Logout</a></li>
              </ul>
          </div>
      </nav>
</div>
<router-outlet></router-outlet>
