<div class="container">
    <div class="card">
        <h1 class="cardTitle">  Schedule of Appointment  </h1>
        <table style="margin-left: 70px;">
         <th>Start time</th>
         <th>End time</th>
         <th>taken</th>
         <tr *ngFor="let app of schedule ">
            <td>{{app.startDate}}</td>
            <td>{{app.endDate}}</td>
            <td>{{app.taken}}</td>
         </tr>
        </table>
    <div class="additional">
        <button class="confirmButton" mat-stroked-button app:backgroundTint="#e0e7ff" style="background-color:#e0e7ff; width: 100px;" >
            Create
        </button>
    </div>
    </div>
</div>
