


<p>
  <mat-card-content>Old password</mat-card-content>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Old password</mat-label>
    <textarea matInput [(ngModel)]="PasswordDTO.oldPassword" ></textarea>
  </mat-form-field><br>
  <mat-card-content>New password</mat-card-content>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>New password</mat-label>
    <textarea matInput [(ngModel)]="PasswordDTO.newPassword"></textarea>
  </mat-form-field>
</p>
<p>
  <button mat-stroked-button (click)="changePassword()">Save changes</button>
</p>

