<div>
  <div>
    <button mat-stroked-button (click) = "goToTCPage()"> Transfusion center</button>
    <button mat-stroked-button (click) = "goToNewAppointment()"> Add appointment</button>
    <button mat-stroked-button (click) = "goToProfile()"> Profile</button>
    <button mat-stroked-button (click) = "goToNewAppointmentSlot()"> Create new appointment</button>
    <button mat-stroked-button (click) = "goToSchedule()">  Schedule</button>


    <button mat-stroked-button (click)="LogOut()">Logout</button>

    <button mat-stroked-button (click)="goToNewAppointment()"> </button>

  </div>


</div>
